<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">


   <bean class="com.example.springcore.userdefinedinjectioncon.B" name="refB">
      <constructor-arg name="y" value="100"/>
   </bean>


	<bean class="com.example.springcore.userdefinedinjectioncon.A"
		name="refA">
		<constructor-arg name="x" value="50" />
		<constructor-arg name="objB">
			<ref bean="refB" />
		</constructor-arg>
	</bean>


</beans>