<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="footer">
      <footer style="
          background-color: rgba(0, 0, 0, 0.7);
          color: #fff;
          text-align: center;
          padding: 15px;
          position: fixed;
          bottom: 0;
          left: 0;
          width: 100%;
          z-index: 1000;
      ">
          <p>&copy; 2025 TourismDiary App. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
